body {
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    /* flex: 1;  */

  }

  .section {
    border: solid;
    border-color: black;
    background-color: #1f2937;
  
    display: flex;
    flex-direction: row;
  
    /* flex-grow: 1; */
    /* flex-wrap: nowrap; */
    justify-content: flex-start;
    margin: 20px;
    min-height: 300px;
  }

  .container1 {
    border: solid;
    border-color: black;
  
    padding: 10px;
    margin: 100px;
  
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    flex-basis: auto;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
  }
  
  .header {
    display: flex;
    flex: 0;
    /* margin-bottom: 10px; */
    /* padding: 0px; */
    /* margin: 0px; */
    /* font-size: 48px; */
    /* font-weight: bold; */
    /* color: #f9faf8; */
    /* /* max-width: 300px; */
  }


  h1 {
    display: flex;
    flex: 1;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
   }
  
  .text {
    /* display: flex; */
    /* flex: 1; */
    font-size: 16px;
    font-weight: 100;
    color: #606060;
    max-width: 300px;
    margin-bottom: 20px;
  }

  p {
    /* display: flex; */
    /* flex: 0; */
    /* flex-wrap: wrap; */
   
   
    font-size: 18px;
    font-weight: 100;
    color: f9faf8;
    max-width: 600px;
    margin-bottom: 10px;
    padding: 0px;
    margin: 0px;
    color: #e5e7eb
  }
  
  button {
    /* max-width: 300px; */
    /* padding: 10px; */
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    /* background-color: light; */

  }

  .container2 {
    border: solid;
    border-color: black;
  
    padding: 10px;
    margin: 20px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* flex-wrap: wrap; */
  }
  
  img {
    border: solid;
    border-color: black;
    max-width: 400px;
  }
  

  .section2 {
    border: solid;
    border-color: black;
    background-color: whitesmoke;
  
    display: flex;
    flex-direction: column;
  
    /* flex-grow: 1; */
    /* flex-wrap: nowrap; */
    justify-content: flex-start;
    margin: 20px;
    padding: 50px;
    min-height: 300px;
  
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
  }
  
  .wrapper {
    border: solid;
    border-color: black;

    display: flex;
    justify-content: center;
    gap: 52px;
  }

  .info {
    border: solid;
    border-color: black;

  }

  .section3 {
    border: solid;
    border-color: black;
    background-color: #e5e7eb;
  
    display: flex;
    flex-direction: column;
  
    /* flex-grow: 1; */
    /* flex-wrap: nowrap; */
    justify-content: flex-start;
    margin: 20px;
    padding: 50px;
    min-height: 300px;
  
    text-align: center;
  }

  .section4 {
    border: solid;
    border-color: black;
    background-color: #e5e7eb;
  
    display: flex;
    flex-direction: column;
  
    /* flex-grow: 1; */
    /* flex-wrap: nowrap; */
    justify-content: flex-start;
    margin: 20px;
    padding: 50px;
    min-height: 300px;
  
    text-align: center;
  }

  .section5 {
    border: solid;
    border-color: black;
    background-color: #1f2937;
  
    display: flex;
    flex-direction: row;
  
    /* flex-grow: 1; */
    /* flex-wrap: nowrap; */
    justify-content: flex-start;
    margin: 20px;
    min-height: 300px;
  }